<h1>TO DELETE</h1>

<div class="container m-5">
<h2>My bookings change</h2>
  <% current_user.bookings.each do |booking| %>
    <div class="card-bookings m-5">
      <img src="https://cdn.pixabay.com/photo/2015/11/11/06/48/grandma-1038239_960_720.png" />
      <div class="card-bookings-infos">
        <h2>User: <%= booking.user.email %></h2>
        <h2>Grandparents: <%= booking.grandparent.name %></h2>
        <br>
        <h2>From: <%= booking.start_date.strftime("%d.%m.%Y") %></h2>
        <h2>Till: <%= booking.end_date.strftime("%d.%m.%Y") %></h2>
        <%=
          link_to "Delete",
          booking_path(booking),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
        <%=
          link_to "Edit",
          edit_grandparent_booking_path(booking.grandparent, booking)
        %>
      </div>
    </div>
  <% end %>
</div>
<a class="btn btn-ghost clickbutton" href="/grandparents"> Go Back!</a>
