<div class=" m-5 centered">
<h2>My bookings</h2>
  <% current_user.bookings.each do |booking| %>
    <div class="card-bookings m-5">
      <img src="https://cdn.pixabay.com/photo/2015/11/11/06/48/grandma-1038239_960_720.png" />
      <div class="card-bookings-infos">
        <h2>User: <%= booking.user.email %></h2>
        <h2>Grandparents: <%= booking.grandparent.name %></h2>
        <br>
        <h2>From: <%= booking.start_date.strftime("%d.%m.%Y") %></h2>
        <h2>Till: <%= booking.end_date.strftime("%d.%m.%Y") %></h2>
        <%=
          link_to "Delete",
          booking_path(booking), class: "btn clickbutton",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
        <%=
          link_to "Edit",
          edit_grandparent_booking_path(booking.grandparent, booking), class: "btn clickbutton"
        %>
      </div>
    </div>
  <% end %>
</div>
<div class="centered">
  <a class="btn clickbutton" href="/grandparents"> Go Back!</a>
</div>
