<h2>Update Grandparents</h2>
<div class="container mt-5">
<%= simple_form_for(@grandparent) do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
<%= render "form", grandparent: @grandparent %>
</div>
