<div class="container mt-5">
<h1>New grandparent</h1>
<br>
<%= simple_form_for(@grandparent) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :age %>
  <%= f.input :description %>
  <%= f.submit "Create new list", class: "btn btn-primary" %>
<% end %>
</div>
