<div>
  <div>
    <h1><%= current_user.email %></h1>
  </div>
</div>
<div class="container">
  <div class="row justify-content-between col-6">
    <h2>My booked Grandparents</h2>
      <% current_user.grandparents.each do |grandparent|%>
        <div class="card-bookings mt-5 col-lg-6">
          <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
          <div class="card-bookings-infos">
            <h2>Name: <%= grandparent.name %></h2>
            <h2>Age: <%= grandparent.age %></h2>
            <h2>Description: <%= grandparent.description %></h2>
            <%# <h2>Date: <%= grandparent.description %>
            <br>
          </div>
        </div>
      <% end %>
  </div>
  <div class="row justify-content-between col-6">
    <h2>My created Grandparents</h2>
      <% @my_grandparents.each do |grandparent|%>
        <div class="card-bookings mt-5 col-lg-6">
          <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
          <div class="card-bookings-infos">
            <h2>Name: <%= grandparent.name %></h2>
            <h2>Age: <%= grandparent.age %></h2>
            <h2>Description: <%= grandparent.description %></h2>
            <br>
          </div>
          <div>
          <% grandparent.bookings do |bk| %>
            <%= bk.start_date %>
            <%= bk.end_date %>
            <%= bk.user.email %>
          <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
