<div class="container d-flex justify-content-around gap-3">
  <div class="booked-grandparents w-50">
    <% unless current_user.grandparents.empty? %>
      <h2>My booked Grandparents</h2>
      <% current_user.grandparents.each do |grandparent|%>
        <div class="card-dashboard my-5">
          <div>
            <% if grandparent.photo.attached?%>
              <%= cl_image_tag grandparent.photo.key, height: 400, width: 400, crop: :fill %>
            <% else %>
              <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
            <% end %>
          </div>
          <div class="card-dashboard-infos">
            <h2><%= grandparent.name %></h2>
            <h2><%= grandparent.age %> years old</h2>
            <br>
            <%=
              link_to "Delete",
              dashboard_path(grandparent), class: "btn clickbutton",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-between col-6">
    <% unless @my_grandparents.empty?  %>
      <h2>My created Grandparents</h2>
      <% @my_grandparents.each do |grandparent|%>
        <div class="card-dashboard my-5">
          <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
          <div class="card-dashboard-infos">
            <h2><%= grandparent.name %></h2>
            <h2><%= grandparent.age %>years old</h2>
            <br>
            <%=
              link_to "Delete",
              booking_path(grandparent), class: "btn clickbutton",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          </div>
          <div>
            <% grandparent.bookings do |bk| %>
              <%= bk.start_date %>
              <%= bk.end_date %>
              <%= bk.user.email %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>
